.planning_container{
}
.planning{

}
.planning_select .jq-selectbox__select{
    background-color: #fff;
}
.specialist-info__right .carousel-item{
    height: auto;
    min-height: auto;
}
.select_exam{
    font-weight: 400;
    font-size: 14px;
}
.specialist-info__right .form-control:focus{
    border-color: #ced4da;
}
.contact-tel .phone{
    font-weight: 300;
}
.planning_select .btn-submit{
    max-width: 100%;
    width: 100%;
    height: 40px;
    line-height: 40px;
}
.doctor_day{

}
.btn_calendar{
    padding: 10px 15px;
}

.form-group span {
    color: #000;
}
.addSaveDate{
    transition: 0.5s linear;
}
.addSaveDate:hover{
    background-color: #7ca82b;
}
.select_date{
    background-color: #7ca82b;
}
.carousel-control-prev {
     left: 0;
 }
.cnt_selected_date{
    font-weight: 700;
}
.specialist-info__right .jq-selectbox__dropdown ul{
    overflow: auto;
    overflow-y: scroll;
}
.specialist-info__right .carousel-control-next-icon, .specialist-info__right .carousel-control-prev-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent no-repeat center center;
    background-size: 100% 100%;
}

.specialist-info__right .carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}
.specialist-info__right .carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}


.specialist-info__right .carousel-control-next, .specialist-info__right .carousel-control-prev {
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 44px;
    text-align: center;
    opacity: .5;
    transition: opacity .15s ease;
    background-color: #7ca82b;
}

.b-calendar-grid-caption{
    height: 43px;
}
.specialist-info__right .form-control{
    padding: 0px;
}
.b-calendar-grid-caption {
    height: 43px;
    border-bottom: 1px solid #ced4da;
    line-height: 41px;
}
#calendarSlider a {
    max-height: 44px;
}
.carousel-control-next {
    right: 0;
}
.specialist-info__right .disabled{
    color: #888888 !important;
    font-weight: 300 !important;
}














div.news-detail
{
	word-wrap: break-word;
}
div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.cnt_loader{
	text-align: center;
}
.loader {
    overflow:hidden;
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #7ca82b;
    background: -moz-linear-gradient(left, #7ca82b 10%, rgba(101,171,248, 0) 42%);
    background: -webkit-linear-gradient(left, #7ca82b 10%, rgba(101,171,248, 0) 42%);
    background: -o-linear-gradient(left, #7ca82b 10%, rgba(101,171,248, 0) 42%);
    background: -ms-linear-gradient(left, #7ca82b 10%, rgba(101,171,248, 0) 42%);
    background: linear-gradient(to right, #7ca82b 10%, rgba(101,171,248, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.loader:before {
    width: 50%;
    height: 50%;
    background: #7ca82b;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.child-btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: #454c57;
    border: 1px solid #fff;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    text-align: center;
}
.child-btn:hover{
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}
.error_phone{
    color: #f42c2c;
}
@-webkit-keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load3 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

#confirm_entry_modal .success_message label{
    font-weight: 300;
    font-size: 18px;
}
.success_exam,.success_date,.success_phone{
    font-size: 18px;
    font-weight: 600;
    margin-top: 5px
}