blockquote {
    /*    font-family: 'Fira Sans', sans-serif;*/
        font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-style: normal;
        font-weight: 300;
        font-size: 29px;
        line-height: 39px;
        color: #000;
        border-left: 6px solid #7CA82B;
        padding-left: 16px;
        margin: 40px 0;
        padding-right: 127px;
        font-weight: 300;
    }

    h6{
        font-family: 'Fira Sans', sans-serif;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.5px;
        color: var(--main-color);
        margin-bottom: 10px;
    }