pre{
	font-size: 16px !important;
}
.section_vrachi .row_vr{
	margin-bottom: 25px;
	border: 1px solid #B5B7BA;
	overflow: hidden;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px #b5b5b5;
}

.section_vrachi .row_vr img{
	max-height:  100%;
}
.section_vrachi .row_vr .cnt_vr{
	display: flex;
	margin: 20px;
}
.section_vrachi .img_vr{
	max-width: 180px;
	max-height:  180px;
	border-radius: 100px;
	overflow: hidden;
	margin-right:27px;
}

.section_vrachi .name-vr{
	font-family: 'Mont';
	font-style: normal;
	font-weight: 800;
	font-size: 20px;
	line-height: 26px;
	color: #2C3E50;
	margin-bottom: 18px;
}

.section_vrachi .name-cherta-vr{
	position: relative;
	width: 100px;
	height: 6px;
	left: 0px;
	top: -15px;
	background: #7CA82B;
}
.section_vrachi .price_vr{
	font-size: 16px;
	color: #2C3E50;
	margin-top: 15px;
	font-weight: bold;
}
.label_date_access{
	margin-bottom: 5px;
}
.access-date{
	margin-bottom: 10px;

}
 .section_vrachi .save-btn-vr{
	width:  auto;
	height:  44px;
	background: #7CA82B;
	color: #fff;
	padding: 15px 45px;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	display: block;
	line-height: 16px;
    position: absolute;
    bottom: 0px;
    right: 40px;
    box-sizing: border-box;
    border: 1px solid #fff;
	 transition: all 0.3s;
}

.section_vrachi .save-btn-vr:hover{
	text-decoration: none;
    background-color: transparent;
    border: 1px solid var(--green-color);
    color: var(--green-color);
}
.section_vrachi .save_vr{
	margin-left: auto;
	position: relative;
}

.section_vrachi{
    margin-right: -15px;
    margin-left: -15px;

}

.spec-vr, .staz-vr,.category-vr{
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	color: #2C3E50;
}
.descrip_vr a{
    font-style: normal;
    font-size: 20px;
    line-height: 26px;
    color: #2C3E50;
    margin-bottom: 15px;
	font-weight: bold;
}
@media screen and (max-width: 700px){
		.section_vrachi .save-btn-vr{
			position: static;
		}
		.section_vrachi .row_vr .cnt_vr{
			margin: 15px 5px;
			display:flex;
			flex-wrap: wrap;
		}
		.section_vrachi .save_vr{
			margin-left: 0;
			position: static;
			text-align: right;
			width: 100%;
		}
		.section_vrachi .price_vr{
			margin-bottom: 10px;
		}
		.section_vrachi .img_vr{
			width: 75px;
			height:  75px;
		}
		.section_vrachi .save-btn-vr{
			display: inline;
			color: #7CA82B;
			background: none;
			margin:0px;
			padding: 0px;
			margin-right: 10px;
		}
		.descrip_vr{
			width: 70%;
		}
		.section_vrachi .img_vr{
			margin-right: 10px;
		}
			.descrip_vr a{
			font-size: 16px;
			font-weight: bold;
			font-family: 'Fira Sans', sans-serif;
			text-transform: uppercase;
		}
		.name-cherta-vr{
			height: 3px !important;
		}
		.section_vrachi .name-vr a,.section_vrachi .name-vr{
			line-height: 18px;
		}

		.all-our-specialists .all-our-specialists__title{
			font-size: 16px;
			margin: 0px;
			margin-bottom: 15px;
			line-height: 16px;
		}
}
.descrip_vr a:hover{
    text-decoration: none;
}
.img_vr a{

}
.who_is{
}
.age-pr{
	display: inline-block;
	padding: 3px 10px;
	background-color: #454c57;
	color: #ffffff;
	border-radius: 59px;
	font-size: 11px;
	font-weight: 700;
	margin-bottom: 10px;
}
.name-vr h2{
	margin: 0;
	padding: 0;
	line-height: 16px;
}

.cnt_loader{
	text-align: center;
}
.access-date .cnt_loader{
	text-align: left;

}
.loader {
	--b: 10px;  /* border thickness */
	--n: 10;    /* number of dashes*/
	--g: 10deg; /* gap between dashes*/
	--c: red;   /* the color */
	display: inline-block;
	width: 100px; /* size */
	aspect-ratio: 1;
	border-radius: 50%;
	padding: 1px;
	background: conic-gradient(#0000,var(--c)) content-box;
	-webkit-mask:
			repeating-conic-gradient(#0000 0deg,
			#000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
			#0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
			radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
	mask:
			repeating-conic-gradient(#0000 0deg,
			#000 1deg calc(360deg/var(--n) - var(--g) - 1deg),
			#0000     calc(360deg/var(--n) - var(--g)) calc(360deg/var(--n))),
			radial-gradient(farthest-side,#0000 calc(98% - var(--b)),#000 calc(100% - var(--b)));
	-webkit-mask-composite: destination-in;
	mask-composite: intersect;
	animation: load 1s infinite steps(var(--n));
}
@keyframes load {to{transform: rotate(1turn)}}
.access-date .list_phone a{
	font-size: 15px;
}