
.reviews-title{
	font-family: Lato;
	font-size: 43.1px;
	line-height: 1.2;
	font-weight: 900;
	letter-spacing: -0.02em;
	color: #60626c;
	max-width: 572px;
}

.review__item{
	border: 1px solid #c4c4c4;
	margin-bottom: 42px;
	padding: 22px;
}

.review__title{
	font-family: Lato;
	font-size: 30.1px; 
	line-height: 1.2;
	font-weight: 900;
	letter-spacing: -0.02em;
	color: #60626c;
	margin-bottom: 5px;
}

.review__text{
	font-family: Lato;
	font-size: 20.9px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #808080;
	margin-bottom: 20px;
	margin-top: 24px;
}

.review__caaption{
	font-family: Lato;
	font-size: 21.2px;
	line-height: 1.2;
	font-weight: 900;
	letter-spacing: -0.02em;
	color: #60626c;
	margin-bottom: 15px;
}

.review__date{
	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 900;
	letter-spacing: -0.02em;
	color: #7ca82b;
}

.review__flex{
	display: flex;
	align-items: center;

	font-family: Lato;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 400;
	letter-spacing: -0.02em;
	color: #60626c;
}

.review__flex span{
	color: #7ca82b;
}

.review__flex span a{
	color: #7ca82b;
}

.review__clinic{
	margin-right: 77px;
}

.review__text-answer{
	display: flex;
	background-color: #f7f7f7;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 23px;
	margin-top: 20px;
}

.review__img-caption {
	font-family: Lato;
	font-size: 15.9px;
	line-height: 1.2;
	font-weight: 900;
	letter-spacing: -0.02em;
	color: #60626c;
	margin-top: 20px;
	width: 145px;
	text-align: center;
}

.review__img-box{
	margin-right: 21px;
	min-width: 145px;
}

.review__img{
	width: 145px;
	height: 145px;
	background: #fff;
	background-image: url(img/support.png);
	background-repeat: no-repeat;
	border-radius: 145px;
	text-align: center;
}